.record-chip {
    display: flex;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px 21px 20px;
    border-radius: 25px;
    margin-top: -6px;
    color: white;
    gap: 10px;
    height: 10%;
    width: 100%;
    background-color: rgb(150, 168, 109);
    box-shadow: inset 0 -6px #707E52;
    filter: drop-shadow(0 4px 3px rgba(0,0,0,0.2))
}

.record-chip.bill,
.record-chip.income {
    background-color: #8C9DAD;
    box-shadow: inset 0 -6px #697682;
}

.chip-section {
    display: flex;
    flex-direction: column;
    gap: 5px; 
    align-items: flex-start;
    align-self: flex-start;
    flex: 1 1 10%;
}

.flex-section {
    display: flex;
    flex-wrap: wrap;
    gap: 15%;
    align-self:center;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 1 5 0;
}

.record-chip p {
    color: white;
    font-weight: 300;
}

.category-tag {
    font-size: 14px;
    background: rgba(0,0,0,0.25);
    border-radius: 20px;
    padding: 8px 15px;
}

@media (min-width: 990px) {
    .chip-section h3 {
        font-size: 25px;
        padding: 10px 0;
    }
    .chip-section p {
        font-size: 20px;
        font-weight: 400;
        padding: 10px 0;
    }
    .flex-section {
        justify-content: space-between;
    }
    .flex-section h4 {
        font-size: 40px;
    }
}