.expense-chip {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    color: white;
    height: 10%;
    width: 100%;
    background-color: rgb(150, 168, 109);
    box-shadow: 0 8px #707E52;
}

.expense-chip.bill {
    background-color: #8C9DAD;
    box-shadow: 0 8px #697682;
}