{% extends "base.html" %}

{% block title %}Home{% endblock%}

{% block content %}
        <h2>Hello, {{ username }}!</h2>
        <p>Welcome to the dashboard!</p>
        <img src="{{ url_for('static', filename='mascot.png') }}" alt="Mascot image" class="dashboard-image"> <!-- example mascot image, can be replaced with a real one later -->
        <div class="dashboard-chips">
            <p>You spent $307 this month</p>
        </div>
        <div class="dashboard-chips">
            <p>You saved $200 this month</p>
        </div>
{% endblock %}